<a href="https://colab.research.google.com/github/Anggara13/Python-programming/blob/main/03_Struktur_Data_Sequential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üé¨ **Prolog**

In [2]:
nama_produk1 = 'Seblak'
nama_produk2 = 'Baso Aci'
nama_produk3 = 'Mie Ayam'

In [3]:
nama_produk = ['Seblak', 'Baso Aci', 'Mie Ayam']

#üèãüèº‚Äç‚ôÇÔ∏è<b>List</b>

List adalah tipe data pada Python yang dapat menyimpan berbagai jenis data, termasuk angka, string, atau bahkan objek lain (fleksibilitas cukup tinggi).

Sifat List :

<ol>
  <li>Ditandai dengan kurung siku [ ] saat proses inisialisasinya dan nilainya dipisahkan dengan tanda koma</li>
  <li>Elemen pada list dapat diubah / dapat diupdate (<i>changeable</i>)</li>
  <li>List menerima elemen yang sama / duplikat (<i>allow duplicate values</i>)</li>
  <li>Elemen pada list terurut (<i>ordered</i>) sesuai label/index yang diberikan (bukan terurut alfabetikal atau numerikal)</li>
</ol>

## ‚öîÔ∏è<b>1. Membuat List</b>

<ul>
  <li>List Kosong</li>

  ```
  empty_list = []
  ```

  <li>List Seragam</li>

  ```
  trx_code_july23 = ['TRX20230701', 'TRX20230702', 'TRX20230703']
  ```

  <li>List Beragam</li>

  ```
  detail_trx = ['TRX20230701', 1500000, ['Cendol', 'Seblak'], True]
  ```

</ul>

### üë®‚Äçüíª Task 1 - A

Produk 'Bika Ambon', 'Cendol', 'Pete' dan 'Yellow Dragon Fruit' merupakan produk yang <i>best seller</i> bulan ini di DQCommerce. Buatlah sebuah `list` untuk menampung nama <i>best seller product</i> tersebut!

In [1]:
# Write your code below here & exec!
best_seller_product = ['Bika Ambon', 'Cendol', 'Pete','Yellow Dragon Fruit']

### üë®‚Äçüíª Task 1 - B

Tampilkan variabel yang telah dibuat pada <b>Task 1-A</b> lalu tampilkan juga tipe datanya

In [4]:
# Write your code below here & exec!
print(f'Best seller product = {best_seller_product} mempunyai tipe data {type(best_seller_product)}')

Best seller product = ['Bika Ambon', 'Cendol', 'Pete', 'Yellow Dragon Fruit'] mempunyai tipe data <class 'list'>

## üçî <b>2. Banyak Elemen pada List</b>

Eksekusi fungsi <code>len(nama_list)</code> untuk mendapatkan banyaknya elemen pada list

<i>docs : https://docs.python.org/3/library/functions.html#len</i>

### üë®‚Äçüíª Task 2 - A

Kroma, Risk Manager di DQTech ingin melakukan mitigasi resiko pada departemen data. List yang harus dilakukan sudah tertera di <i>prompt</i> (dibawah ini).

Bantu Kroma untuk mendapatkan jawaban 'Berapa banyak <i>risk indicator</i> yang harus ia evaluasi?'

In [5]:
# Initialize list
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']

# Write your code below here & exec!
print(len(risk_indicator))

5

### üë®‚Äçüíª Task 2 - B

Setelah dilakukan evaluasi pada beberapa <i>risk indicator</i>, Kroma lalu memberikan beberapa keterangan tambahan. Periksa kembali banyaknya <i>risk indicator</i> yang telah diupdate Kroma untuk memastikan.

In [6]:
update_risk_indicator = [
    ['Kehilangan Data', 'High', 'ASAP'],
    'Kualitas Data Buruk',
    'Kekurangan Data',
    ['Data Tidak Akurat', 'Medium', ['Data Engineer', 'IT Infra']],
    'Pelanggaran Privasi'
]

# Write your code below here & exec!
print(len(update_risk_indicator))

5

Catatan:
1. Didalam list bisa terdapat sebuah data list atau yang biasa disebut **nested list**
2. Sehingga pada task 2-B tetap terhitung 5 data dalam list, karena yang dihitung adalah sesuai koma yang paling luar.

##üîé <b>3. Mengakses List</b>

Setiap elemen pada list yang terbentuk, secara otomatis akan mempunyai pengenal posisi atau disebut index.

<p align="center">
<img src="https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg" width="450" height="200" alt="alternatetext">
<p align="center"><b>Gambar 1. Index Pada List</b></p></p><br>

<ol>
  <li>Untuk mengakses 1 elemen list pada index tertentu gunakan format <code>list[index]</code></li>
  <li>Untuk mengakses lebih dari satu elemen (index ke-i s.d index ke-j) gunakan format <code>list[index ke-i : index ke-j+1]</code></li>
</ol>

### üë®‚Äçüíª Task 3 - A

Pada list produk berikut tampilkan elemen yang memiliki index 1

In [8]:
list_produk = ['flash disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'kotak pensil DQLab']

# Write your code below here & exec!
print(list_produk[1])

Buku planner DQLab

In [13]:
print(list_produk[-2])

Kotak pensil DQLab

### üë®‚Äçüíª Task 3 - B

Pada list produk berikut tampilkan elemen yang memiliki index 1 sampai 3

In [9]:
list_produk = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab', 'Kantong Ajaib DQLab']

# Write your code below here & exec!
print(f'Index 1 - 3 pada list_produk adalah: {list_produk[1:4]}')

Index 1 - 3 pada list_produk adalah: ['Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

Menentukan nomer urut dalam menampilkan data didalam list:

Untuk elemen awal disebut step ekslusif (n = n)

Untuk elemen akhir disebut step inklusif (n = n+1)

### üë®‚Äçüíª Task 3 - C

Tampilkan semua list transaksi id berikut kecuali 2 elemen terakhir!

In [10]:
list_trx_id = ['DQTRX790', 'DQTRX482', 'DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329', 'DQTRX978', 'DQTRX577']

# Write your code below here & exec!
print(list_trx_id[:8])

['DQTRX790', 'DQTRX482', 'DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329']

In [11]:
print(list_trx_id[:-2])

['DQTRX790', 'DQTRX482', 'DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329']

In [14]:
print(list_trx_id[2:])

['DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329', 'DQTRX978', 'DQTRX577']

Dalam menampilkan data terkecuali data dari belakang lebih baik menggunakan [:-n]

Dalam menampilkan data terkecuali data dari depan lebih baik menggunakan [n:]

## ü§≥üèº **4. Updating Element List**

Untuk dapat meng-<i>update</i> / memperbarui elemen pada list, lakukan proses <i>assignment</i> pada list dengan index yang akan diupdate.

Contoh :

```
#Inisialisasi list
nama_pelanggan = ['Bang Messi', 'Bang Dodo', 'Ngab Ngalam']

# Update elemen ketiga (index ke-2) menjadi Bang Malang
nama_pelanggan[2] = 'Bang Malang'

print(nama_pelanggan)
```

Output yang dihasilkan adalah

```
nama_pelanggan = ['Bang Messi', 'Bang Dodo', 'Bang Malang']
```

### üë®‚Äçüíª Task 4

Periksa penulisan pada data provinsi customer DQTech berikut :     

```
list_kota = ['Jawa Barat', 'Sulawsi Utara', 'Bengkulu', 'Kalimantam Timur']
```

Kemudian perbaiki penulisan jika ditemukan <i>typing of error (typo)</i>

In [15]:
# Write your code below here & exec!

# Inisialisasi list
list_kota = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']

# Tampilkan list awal
print(f'List kota awal = {list_kota}')

# Lakukan perbaikan
list_kota[1] = 'Sulawesi Utara'
list_kota[2] = 'Bengkulu'
list_kota[3] = 'Kalimantan Timur'

# Tampilkan hasil perbaikan
print(f'List kota setelah perbaikan = {list_kota}')

List kota awal = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']
List kota setelah perbaikan = ['Jawa Barat', 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur']

In [16]:
# Write your code below here & exec!

# Inisialisasi list
list_kota = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']

# Tampilkan list awal
print(f'List kota awal = {list_kota}')

# Lakukan perbaikan
list_kota[1:] = 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur'

# Tampilkan hasil perbaikan
print(f'List kota setelah perbaikan = {list_kota}')

List kota awal = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']
List kota setelah perbaikan = ['Jawa Barat', 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur']

In [17]:
# Write your code below here & exec!
# WARNING !!!

# Inisialisasi list
list_kota = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur', 'DKI Jakarta', 'Banten']

# Tampilkan list awal
print(f'List kota awal = {list_kota}')

# Lakukan perbaikan
list_kota[1:] = 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur'

# Tampilkan hasil perbaikan
print(f'List kota setelah perbaikan = {list_kota}')

List kota awal = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur', 'DKI Jakarta', 'Banten']
List kota setelah perbaikan = ['Jawa Barat', 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur']

In [18]:
# Write your code below here & exec!

# Inisialisasi list
list_kota = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur', 'DKI Jakarta', 'Banten']

# Tampilkan list awal
print(f'List kota awal = {list_kota}')

# Lakukan perbaikan
list_kota[1:4] = 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur'

# Tampilkan hasil perbaikan
print(f'List kota setelah perbaikan = {list_kota}')

List kota awal = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur', 'DKI Jakarta', 'Banten']
List kota setelah perbaikan = ['Jawa Barat', 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur', 'DKI Jakarta', 'Banten']

## üéß **5. Method pada List**

List merupakan sebuah class pada python yang mempunyai <i>built-in method</i> (method yang tersedia). Untuk menggunakan method adalah dengan menambahkan titik pada akhir variabel dengan tipe data list lalu panggil method yang ingin digunakan. Dibawah ini merupakan beberapa method pada list

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*vusVuQXbsvAxux8b9SIUsg.png" width="450" height="555" alt="alternatetext">
<p align="center"><b>Gambar 2. Method Pada List</b></p></p><br>

Method terdapat dibelakang setelah nama fungsi

<i>docs : https://docs.python.org/3/tutorial/datastructures.html#more-on-lists</i>

### üë®‚Äçüíª Task 5 - A

Setelah ditinjau kembali, <b>Goodie Bag DQLab</b> saat ini masuk ke jajaran <i>best seller product</i> dari platform DQCommerce. Tambahkan produk tersebut kedalam <i>existing list</i> berikut!

```
produk_best_seller = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']
```

In [21]:
# Inisialisasi list
produk_best_seller = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

# Tampilkan hasilnya
print('Sebelum append', produk_best_seller)

Sebelum append ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

In [23]:
# Write your code below here & exec!
produk_best_seller.append('Goodie Bag DQLab')

#Tampilkan Hasilnya
print(f'Setelah append {produk_best_seller}')

Setelah append ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab', 'Goodie Bag DQLab', 'Goodie Bag DQLab']

### üë®‚Äçüíª Task 5 - B

Analisis *Recency, Frequency, Monetary* (RFM) merupakan proses analisis perilaku pelanggan. Dalam menentukan segmentasi pelanggan, digunakan model RFM berdasarkan tiga variabel yaitu recency terakhir melakukan transaksi, frequency dari transaksi, dan monetary dari jumlah transaksi setiap pelanggan.

Data frekuensi transaksi (periode 2022) pelanggan DQTech disajikan sebagai berikut

```
trx_frequency = [34, 125, 11, 90, 45, 60, 81, 14, 2, 235]
```

Coba urutkan secara ascending (terkecil ke terbesar) daftar tersebut!

In [24]:
# Inisialisasi list
trx_frequency = [34, 125, 11, 90, 45, 60, 81, 14, 2, 235]

# Tampilkan hasilnya
print(trx_frequency)

[34, 125, 11, 90, 45, 60, 81, 14, 2, 235]

In [25]:
# Write your code below here & exec!
trx_frequency.sort()

# Tampilkan hasilnya
print(trx_frequency)

[2, 11, 14, 34, 45, 60, 81, 90, 125, 235]

In [26]:
# Write your code below here & exec!
trx_frequency.sort(reverse=True)

# Tampilkan hasilnya
print(trx_frequency)

[235, 125, 90, 81, 60, 45, 34, 14, 11, 2]

## ‚ò¢Ô∏è **6. Looping pada List**

Tipe data list dapat dilakukan proses pencacahan dengan perulangan (for). Perulangan (dan proses lain) pada elemen-elemen list dapat digunakan pada berbagai hal seperti proses filter elemen pada list atau yang lain.

```
list_supply_brg = ['Rautan Pensil', 'Correction Tape', 'Buku Gambar']

# Proses looping
for barang in list_supply_brg:
    print(f'Supply {barang}')
```

### üë®‚Äçüíª Task 6 - A

Pada list berikut

```
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']
```

Tampilkan output seperti berikut agar lebih mudah dibaca

```
List Evaluasi Resiko :     
  - Kehilangan Data
  - Kualitas Data Buruk
  - Kekurangan Data
  - Data Tidak Akurat
  - Pelanggaran Privasi
```

In [27]:
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']

# Write your code below here & exec!
print('List Evaluasi Resiko : ')

for indikator in risk_indicator:
  print(f' Risk - {indikator}')

List Evaluasi Resiko :
 Risk - Kehilangan Data
 Risk - Kualitas Data Buruk
 Risk - Kekurangan Data
 Risk - Data tidak Akurat
 Risk - Pelanggaran Privasi

### üë®‚Äçüíª Task 6 - B

List data monetary berikut

```
list_monetary_cust = [575000, 120000, 46500, 20000, 345000, 90000, 17500, 23300, 100000, 2300, 95000, 16700, 87650]
```
Tampilkan yang nilainya lebih dari sama dengan 100rb saja

In [29]:
# Write your code below here & exec!
list_monetary_cust = [575000, 120000, 46500, 20000, 345000, 90000, 17500, 23300, 100000, 2300, 95000, 16700, 87650]

print(list_monetary_cust)

for monetary in list_monetary_cust:
  if(monetary >= 100000):
    print(monetary)

[575000, 120000, 46500, 20000, 345000, 90000, 17500, 23300, 100000, 2300, 95000, 16700, 87650]
575000
120000
345000
100000

### üë®‚Äçüíª Task 6 - C

Pada list yang tertera pada cell dibawah ini, buat variabel list baru yang dinamai dengan `list_provinsi_kalimantan` lakukan proses <u><b>filter</b></u> dimana hanya provinsi Kalimantan saja yang boleh disimpan

In [31]:
list_provinsi_all = ['Kalimantan Utara', 'DKI Jakarta', 'Lampung', 'Kalimantan Timur', 'Bali', 'Kalimantan Selatan', 'Kalimantan Barat', 'Kalimantan Utara', 'Kalimantan Tengah']

list_provinsi_kalimantan = [provinsi for provinsi in list_provinsi_all if 'Kalimantan' in provinsi]

print(list_provinsi_kalimantan)

['Kalimantan Utara', 'Kalimantan Timur', 'Kalimantan Selatan', 'Kalimantan Barat', 'Kalimantan Utara', 'Kalimantan Tengah']

# üìö **Dictionary**

Dictionary adalah tipe data pada python yang berfungsi untuk menyimpan kumpulan data/nilai dengan pendekatan ‚Äúkey:value‚Äù.<br><br>

<p align="center">
<img src="http://www.trytoprogram.com/images/python_dictionary.jpg" width="400" height="250" alt="alternatetext">
<p align="center"><b>Gambar 3. Dictionary</b></p></p><br>

Sifat dictionary :
<ol>
  <li>Ditandai dengan kurung kurawa / keriting { } saat proses inisialisasinya dan formatnya mengikuti template <code>key : value</code></li>
  <li>Elemen pada dictionary dapat diubah / dapat diupdate (<i>changeable</i>)</li>
  <li>Dictionary tidak menerima elemen yang sama / duplikat pada key namun boleh menerima elemen yang sama pada value</li>
</ol>


*docs : https://docs.python.org/3/tutorial/datastructures.html#dictionaries*

##‚öôÔ∏è<b>7. Membuat Dictionary</b>

<ul>
  <li>Dictionary Kosong</li>

  ```
  empty_dict = {}
  ```

  <li>Simple Dictionary</li>

  ```
  cust_detail = {
      'cust_code' : 'CUST2021081',
      'cust_name' : 'Bang Messi',
      'age' : 36,
      'is_active' : True
  }
  ```

  <li>Complex Dictionary</li>

  ```
  detail_trx = {
      'trx_code' : 'TRX20230703',
      'cust_code' : 'CUST2021081',
      'product' : {
          'product_name' : ['Cendol', 'Bika Ambon', 'Seblak'],
          'price' : [50000, 75000, 12500],
          'quantity' : [1, 2, 1]
      },
      'total_price' : 212500,
      'disc' : 0.05,
      'trx_date' : '2023-07-27 10:12:45'
  }
  ```

</ul>

### üë®‚Äçüíª Task 7

Konversikan data berikut kedalam sebuah tipe data dictionary pada Python

<table align="center">
  <tr>
    <td>Nama Barang</td>
    <td>Harga</td>
  </tr>
  <tr>
    <td>Corkcicle</td>
    <td>940000</td>
  </tr>
  <tr>
    <td>Smiggle Drink Bottle</td>
    <td>550000</td>
  </tr>
  <tr>
    <td>Tupperware</td>
    <td>57000</td>
  </tr>
  <tr>
    <td>Botol Kecap Bekas</td>
    <td>1000</td>
  </tr>
</table>

In [32]:
# Write your code below here & exec!
produk = {
    'Corkcicle': 940000,
    'Smiggle': 550000,
    'Tupperware': 57000,
    'Botol Kecap Bekas': 1000
}

# Tampilkan hasilnya
print(produk)

{'Corkcicle': 940000, 'Smiggle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000}

##üõ∏<b>8. Method pada Dictionary</b>

Sama halnya list, pada dictionary terdapat method yang dapat digunakan

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*K1nYbwzrZrcqJm5txv2XSw.png" width="540" height="520" alt="alternatetext">
<p align="center"><b>Gambar 4. Method pada Dictionary</b></p></p><br>

Note : *Untuk mengakses key pada dictionary dapat menggunakan method `dict.get(keys)`*

### üë®‚Äçüíª Task 8 - A

Tampilkan nama customer saja pada dictionary berikut

```
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}
```

In [33]:
# Write your code below here & exec!
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age'       : 36,
    'is_active' : True
}

# Tampilkan hasilnya
print(cust_detail.get('cust_name'))

Bang Messi

In [34]:
  detail_trx = {
      'trx_code' : 'TRX20230703',
      'cust_code' : 'CUST2021081',
      'product' : {
          'product_name' : ['Cendol', 'Bika Ambon', 'Seblak'],
          'price' : [50000, 75000, 12500],
          'quantity' : [1, 2, 1]
      },
      'total_price' : 212500,
      'disc' : 0.05,
      'trx_date' : '2023-07-27 10:12:45'
  }

In [37]:
print(detail_trx.get('product').get('product_name'))

['Cendol', 'Bika Ambon', 'Seblak']

In [35]:
detail_trx['product']['product_name']

['Cendol', 'Bika Ambon', 'Seblak']

### üë®‚Äçüíª Task 8 - B

Customer dengan kode berikut 'CUST2021081', saat ini telah berusia 40 tahun, sudah tidak lagi aktif berlangganan dengan alasan pindah ke kompetitor lain

```
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}
```

Lakukan proses update pada existing data tersebut! <br>
(<i>Update usia & status is_active kemudian tambahkan reason sebagai kunci baru</i>)

In [39]:
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}

print('Sebelum update', cust_detail)

# Perbaikan
cust_detail['age'] = 40
cust_detail['is_active'] = False
cust_detail['reason'] = 'Pindah ke kompetitor lain'

# Tampilkan perbaikan
print(f'Setelah Update {cust_detail}')

Sebelum update {'cust_code': 'CUST2021081', 'cust_name': 'Bang Messi', 'age': 36, 'is_active': True}
Setelah Update {'cust_code': 'CUST2021081', 'cust_name': 'Bang Messi', 'age': 40, 'is_active': False, 'reason': 'Pindah ke kompetitor lain'}

##üé†<b>9. Looping Dictionary</b>

Looping juga dapat dilakukan pada dictionary dengan menggunakan bantuan method `.items()`, eksekusi kode berikut :

```
for key, value in dict.items():
    ...
```

Contoh :

```
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Proses perulangan
for key, value in skill_needed.items():
    print(f'Pada kunci = {key} mempunyai nilai = {value}')
```

### üë®‚Äçüíª Task 9

Konversikan data berikut kedalam sebuah tipe data dictionary pada Python

<table align="center">
  <tr>
    <td>Nama Barang</td>
    <td>Harga</td>
  </tr>
  <tr>
    <td>Corkcicle</td>
    <td>940000</td>
  </tr>
  <tr>
    <td>Smiggle Drink Bottle</td>
    <td>550000</td>
  </tr>
  <tr>
    <td>Tupperware</td>
    <td>57000</td>
  </tr>
  <tr>
    <td>Botol Kecap Bekas</td>
    <td>1000</td>
  </tr>
</table>

Lalu tampilkan dengan format sebagai berikut <br>

```
Nama barang 'Corkcicle' dijual dengan harga Rp. 940.000
Nama barang 'Smiggle Drink Bottle' dijual dengan harga Rp. 550.000
Nama barang 'Tupperware' dijual dengan harga Rp. 57.000
Nama barang 'Botol Kecap Bekas' dijual dengan harga Rp. 1.000
```

In [ ]:
# Write your code below here & exec!
...

# üìö **More Iterables : Tuple dan Set**

Selain list dan dictionary ada dua buah tipe data lain yang disebut dengan tuple dan set

<h2>Tuple</h2>
Tuple mirip dengan list namun ditandai dengan tanda kurung bulat ( ) dan elemen pada tuple tidak dapat diupdate (mutable). Contoh tuple

```
contoh_tuple = ('TRX20230701', 'TRX20230702', 'TRX20230703', 'TRX20230704')
```

<h2>Set</h2>
Sedangkan set seperti namanya, set (himpunan) merupakan suatu tipe data yang memenuhi sifat himpunan, elemen pada set tidak mengenal urutan (tidak berlaku index), dan tidak memuat elemen duplikat

```
contoh_set = {'TRX20230701', 'TRX20230702', 'TRX20230703', 'TRX20230704'}
```

<h2>Perbedaan Tipe Data</h2>

Secara umum perbedaan diantara List, Tuple, Set dan Dictionary disajikan pada gambar berikut

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*DxD-6bZrRg7qSa7hg2bbtA.png" width="475" height="180" alt="alternatetext">
<p align="center"><b>Gambar 5. Perbedaan List, Tuple, Set dan Dictionary</b></p></p><br>

<h2>Method</h2>

Untuk jenis method pada masing - masing tipe data silahkan akses link <a href="https://hritikaa9.medium.com/python-collections-list-tuple-dictionaries-sets-4d3f046d285c">berikut</a>

---