<a href="https://colab.research.google.com/github/Anggara13/Python-programming/blob/main/03_1_Task_Mengamati_Gejala_Statistika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Pengaruh Nilai Ekstrim**

Pada bagian ini kalian akan mengamati pengaruh nilai ekstrim terhadap 2 ukuran pemusatan data (mean dan median).

## üìñ **Soal**

7 Karyawan DQTech, diketahui mempunyai data gaji sebagai berikut

<br>

<table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Gaji (Rp)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andi Pratama</td>
                <td>5.800.000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Budi Santoso</td>
                <td>5.500.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Citra Dewi</td>
                <td>4.700.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dani Fadilah</td>
                <td>6.500.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eka Putra</td>
                <td>6.000.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Fajar Hidayat</td>
                <td>4.900.000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Gita Saraswati</td>
                <td>5.200.000</td>
            </tr>
        </tbody>
  </table>

dengan menggunakan list pada Python hitunglah rata-rata gaji karyawan di DQTech!

In [20]:
data_1 = [5800000, 5500000, 4700000, 6500000, 6000000, 4900000, 5200000]

mean_1 = sum(data_1)/len(data_1)
mean_1

5514285.714285715

In [5]:
# Data gaji karyawan
gaji_karyawan = [5800000, 5500000, 4700000, 6500000, 6000000, 4900000, 5200000]

# Hitung rata-rata gaji
rata_rata_gaji = sum(gaji_karyawan) / len(gaji_karyawan)
rata_rata_gaji

5514285.714285715

Kemudian hitung median datanya juga ya!

In [21]:
data_1.sort()

median_1 = (data_1[(len(data_1)//2)-1] + data_1[len(data_1)//2]) / 2
median_1

5350000.0

In [6]:
# Hitung median gaji
gaji_karyawan_sorted = sorted(gaji_karyawan)
n = len(gaji_karyawan_sorted)

# Jika jumlah data ganjil, median adalah nilai tengah
if n % 2 == 1:
    median_gaji = gaji_karyawan_sorted[n // 2]
# Jika jumlah data genap, median adalah rata-rata dari dua nilai tengah
else:
    median_gaji = (gaji_karyawan_sorted[n // 2 - 1] + gaji_karyawan_sorted[n // 2]) / 2

median_gaji

5500000

Wah, saat ini terdapat karyawan baru bernama Cakra Negara yang memiliki gaji fantastis yakni Rp. 17.000.000, sehingga data gaji karyawan DQTech saat ini menjadi

<br>

<table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Gaji (Rp)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andi Pratama</td>
                <td>5.800.000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Budi Santoso</td>
                <td>5.500.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Citra Dewi</td>
                <td>4.700.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dani Fadilah</td>
                <td>6.500.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eka Putra</td>
                <td>6.000.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Fajar Hidayat</td>
                <td>4.900.000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Gita Saraswati</td>
                <td>5.200.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Cakra Negara</td>
                <td>17.000.000</td>
            </tr>
        </tbody>
  </table>

Hitung kembali rata-rata gaji karyawan di DQTech saat ini!

In [22]:
data_1.append(17000000)
data_2 = data_1
mean_2 = sum(data_2) / len(data_2)
mean_2

6950000.0

In [7]:
# Tambahkan gaji Cakra Negara ke data gaji karyawan
gaji_karyawan.append(17000000)

# Hitung rata-rata gaji baru
rata_rata_gaji_baru = sum(gaji_karyawan) / len(gaji_karyawan)
rata_rata_gaji_baru

6950000.0

Kemudian hitung median data barunya juga ya!

In [23]:
median_2 = (data_2[(len(data_2)//2)-1] + data_2[len(data_2)//2]) / 2
median_2

5650000.0

In [8]:
# Hitung median gaji
gaji_karyawan_sorted = sorted(gaji_karyawan)
n = len(gaji_karyawan_sorted)

# Jika jumlah data ganjil, median adalah nilai tengah
if n % 2 == 1:
    median_gaji = gaji_karyawan_sorted[n // 2]
# Jika jumlah data genap, median adalah rata-rata dari dua nilai tengah
else:
    median_gaji = (gaji_karyawan_sorted[n // 2 - 1] + gaji_karyawan_sorted[n // 2]) / 2

median_gaji

5650000.0

Sekarang tampilkan hasil perhitunganmu!

In [30]:
print('          | Data 1\t| Data2')
print(f'Rata-rata | {mean_1:.2f}\t| {mean_2:.2f}')
print(f'Median    | {median_1:.2f}\t| {median_2:.2f}')

          | Data 1	| Data2
Rata-rata | 5514285.71	| 6950000.00
Median    | 5350000.00	| 5650000.00

Apa yang terjadi dengan nilai rataan dan median data karyawan gaji sekarang? Menurutmu mengapa hal tersebut terjadi? Coba Interpretasikan hasil pengamatanmu!

---

# **2. Komparasi Simpangan Baku**

Pada bagian ini kalian akan mengamati nilai penyebaran data.

Simpangan baku (standard deviation) adalah ukuran statistik yang digunakan untuk mengukur sebaran atau dispersi data dalam sebuah sampel atau populasi. Simpangan baku menggambarkan sejauh mana nilai-nilai data tersebar di sekitar rata-rata (mean) dalam suatu distribusi.

\begin{equation}
\sigma = \sqrt{\frac{\sum{(x - \mu)^2}}{N}}
\end{equation}

* œÉ adalah simpangan baku.
* ùíô adalah nilai data dalam sampel atau populasi.
* Œº adalah rata-rata (mean) dari data.
* ‚àë adalah simbol sigma yang menunjukkan penjumlahan.
* ùëµ adalah jumlah total nilai dalam sampel atau populasi.
<br><br>

## üìñ **Soal**

Karena ketidakpastian situasi global, memaksa DQTech untuk melakukan efisiensi. Dari beberapa produk yang DQTech jual, DQTech harus mengeliminasi 1 produk. Data penjualan pada periode waktu tertentu disajikan pada list berikut :

Penjualan produk A (secara kuantitas tiap bulannya)
```
penjualan_produk_A = [55, 49, 48, 50, 52, 47, 51, 50, 53, 48, 50, 49, 51, 46, 50]
```

Penjualan produk B (secara kuantitas tiap bulannya)
```
penjualan_produk_B = [80, 20, 45, 65, 30, 90, 10, 110, 60, 55, 75, 35, 48, 50, 25]
```

Coba hitung simpangan baku dari `penjualan_produk_A` dan `penjualan_produk_B` dan bantu DQTech menentukan mana produk yang sebaiknya dipertahankan? Mengapa?

In [34]:
import math

penjualan_produk_A = [55, 49, 48, 50, 52, 47, 51, 50, 53, 48, 50, 49, 51, 46, 50]
penjualan_produk_B = [80, 20, 45, 65, 30, 90, 10, 110, 60, 55, 75, 35, 48, 50, 25]

avg_produk_A = sum(penjualan_produk_A)/len(penjualan_produk_A)
avg_produk_B = sum(penjualan_produk_B)/len(penjualan_produk_B)

simpangan_baku_A = math.sqrt(sum([(n - avg_produk_A)**2 for n in penjualan_produk_A])/len(penjualan_produk_A))
simpangan_baku_B = math.sqrt(sum([(n - avg_produk_B)**2 for n in penjualan_produk_B])/len(penjualan_produk_B))

simpangan_baku_A, simpangan_baku_B

(2.2350739485653612, 26.70880004792428)

In [31]:
import math

# Data penjualan produk
penjualan_produk_A = [55, 49, 48, 50, 52, 47, 51, 50, 53, 48, 50, 49, 51, 46, 50]
penjualan_produk_B = [80, 20, 45, 65, 30, 90, 10, 110, 60, 55, 75, 35, 48, 50, 25]

# Fungsi untuk menghitung simpangan baku
def hitung_simpangan_baku(data):
    rata_rata = sum(data) / len(data)
    variansi = sum((n - rata_rata) ** 2 for n in data) / len(data)
    return math.sqrt(variansi)

# Hitung simpangan baku untuk masing-masing produk
simpangan_baku_A = hitung_simpangan_baku(penjualan_produk_A)
simpangan_baku_B = hitung_simpangan_baku(penjualan_produk_B)

simpangan_baku_A, simpangan_baku_B

(2.2350739485653612, 26.70880004792428)